<div class="wrapper">

    <h4>FreeCodeCamp Pomodoro Clock</h4>

    <div class="pomodoro-box">

        <div class='prefs'>
            <div class="breaklength-block">
                <p>Break length</p>
                <button (click)='decreaseBreakLength()'>-</button>
                <span>{{breakLength}}</span>
                <button (click)='increaseBreakLength()'>+</button>
            </div>
            <div class="sessionlength-block">
                <p>Session length</p>
                <button (click)='decreaseSessionLength()'>-</button>
                <span>{{sessionLength}}</span>
                <button (click)='increaseSessionLength()'>+</button>
            </div>
        </div>

        <div class="session-block" (click)='sessionChangeState()'>
            <p>{{currentState}}</p>
            <p class="timer">{{currentTimer}}</p>
        </div>
    </div>
</div>