<div class="wrapper">

    <h4>FreeCodeCamp Pomodoro Clock</h4>

    <div class="pomodoro-box">

        <div class='prefs'>
            <div class="breaklength-block">
                <p>Break length</p>
                <button (click)='decreaseBreakLength()'>-</button>
                <p>{{breakLength}}</p>
                <button (click)='increaseBreakLength()'>+</button>
            </div>
            <div class="sessionlength-block">
                <p>Session length</p>
                <button (click)='decreaseSessionLength()'>-</button>
                <p>{{sessionLength}}</p>
                <button (click)='increaseSessionLength()'>+</button>
            </div>
        </div>

        <div class="session-block" (click)='sessionChangeState()'>
            <h5>{{currentState}}</h5>
            <p>{{currentTimer}}</p>
        </div>
    </div>
</div>