<div class="wrapper">

    <h1>FreeCodeCamp Pomodoro Clock</h1>

    <div class="pomodoro-box">

        <div class='prefs'>
            <div class="breaklength-block">
                <p>break length</p>
                <button (click)='decreaseBreakLength()'>-</button>
                <span>{{breakLength}}</span>
                <button (click)='increaseBreakLength()'>+</button>
            </div>
            <div class="sessionlength-block">
                <p>session length</p>
                <button (click)='decreaseSessionLength()'>-</button>
                <span>{{sessionLength}}</span>
                <button (click)='increaseSessionLength()'>+</button>
            </div>
        </div>

        <div class="session-block" (click)='sessionChangeState()'>
            <div class="innerCircle">
                <p>{{currentState}}</p>
                <span><small>{{currentStateMessage}}</small></span>
                <p class="timer">{{currentTimer}}</p>
                <div class="bgfill" [style.height]='bgFillingHeight' [style.background-color]='bgFillingColor'></div>
            </div>
        </div>
    </div>
</div>